:root
{
    --blancCassé : #F2EBE5;
    --gris : #647295;
    --mauve : #9F496E;
    --noir : #2B262D;

}


body
{
    background-color: var(--gris) ;
}

#newTask
{
    border: 2px solid var(--mauve);
}